body{
    background-color: #d1f0d6;
    background-repeat: no-repeat;
    background-size: cover;
  }
  h1{
    color:#290d0b;
    font-family:Consolas;
    text-align: center;
     margin-bottom: 10px;
      margin-top: 10px;
  }
  h2{
    text-align: center;
    font-family:Consolas;
    color:#290d0b;
    margin-bottom: 10px;
      margin-top: 10px;
      font-size: 16px;
  }
  p{
    color:#290d0b;
    font-family:Consolas;
    font-size: 18px;
    margin-bottom: 10px;
     margin-top: 10px;
    margin-left: 10px;
  }
  li{
    color:#290d0b;
    font-family:Consolas;
  }
  .cent{
    text-align: center;
  }
  .sm{
    color:#290d0b;
    font-family: cursive;
    font-size: 12px;
    margin-bottom: 10px;
     margin-top: 10px;
    margin-left: 10px;
  }
  .inform{
    font-size: 18px;
    font-family: cursive;
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #290d0b;
    text-align: right;
  }
  h3{
    font-family:cursive;
    color:#290d0b;
  }
  .products {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }
  
  .product {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px;
      width: 400px;
      border: 3px solid #0b2910;
      transition: 0.2s;
      position: relative;
  }
  
  .product:hover {
      border: 8px solid #505e5b;
  }
  
  
  .favorite-btn {
      background: black;
      border-color: #505e5b;
      cursor: pointer;
      color: gray;
  }
  
  .favorite {
      color: #505e5b;
  }
  #bonus-but{
      padding-left: 20px;
  }
  .buttons{
      display: flex;
  }
  .list{
      display: flex;
  }
  
  hr{
      border-color: rgb(67, 89, 78);
  }